<h1>You are hosting these Events:</h1>

<% @events.each do |event| %>
<li><%= event.title %></li>
<% end %>


<div>
	<h1>You signed up to attend the following:</h1>
		<% @attended_events = EventAttendance.where("attendee_id = ?", current_user) %>
		<div>
			<h3>Upcoming Events</h2>
				<% events = Event.where("date > ?", Time.now)%>
					<% events.each do |e| %>
						<div>
						<li><b><%= e.title %></b></li>
						<li><%= e.date.to_date %></li>
						</div>
					<% end %>
		</div>
		<div>
			<h3>Past Events</h2>
				<% events = Event.where("date < ?", Time.now) %>
					<% events.each do |e| %>
						<div>
						<li><b><%= e.title %></b></li>
						<li><%= e.date.to_date %></li>
						</div>
					<% end %>
		</div>
</div><br><br>

<%= render "shared/footer" %>