<h1>Events</h1>

<%= "Welcome  #{current_user.email}" %><p>
<h2>Upcoming Events</h2>
<ul>
	<% @future_events.each do |event| %>
		<h2>
			<%= event.title %>
		</h2>
		<p>
			<%= event.description %>
		</p>
		<p>
			LOCATION: <%= event.location %>
		</p>
		<p>
			DATE: <%= event.date.to_date %>
		</p>
		<div>The Who's who...
			<ul>
				<% event.attendees.each do |attendee| %>
					<li><%= attendee.email %></li>
				<% end %>
			</ul>
		</div><br>
		  <%= button_to "Attend Event?", event_attendances_path, params: { user_id: current_user.id, event_id: event.id } %>
			<%= button_to "Cancel Attendance?", event_attendance_path(current_user), params: { user_id: current_user.id, event_id: event.id }, method: :delete, data: { turbo_confirm: "Are you sure?" } %>

	<% end %>
</ul>

<h2>Past Events</h2>
<ul>
	<% @past_events.each do |event| %>
		<h2>
			<%= event.title %>
		</h2>
		<p>
			<%= event.description %>
		</p>
		<p>
			LOCATION: <%= event.location %>
		</p>
		<p>
			DATE: <%= event.date.to_date %>
		</p>
		<div>The Who's who...
			<ul>
				<% event.attendees.each do |attendees| %>
					<li><%= attendees.email %></li>
				<% end %>
			</ul>
		</div><br>

		<%
=begin%>
 <% if EventAttendance.where("attendee = ? AND attended_event = ?", event.id, current_user.id) == event %>
			<%= link_to "View Event Details", event_path(event.id) %>
		<% else %>
		<% end %> 
<%
=end%>
	<% end %>
</ul>

<%= link_to "Your Events", user_path(@user) %><br>

<%= link_to "Create New Event", new_event_path %>

<%= render "shared/footer" %>