<h1>Create New Event</h1>

<%= form_with model: @event do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>
	<div>
		<%= f.label :date %>
		<%= f.datetime_local_field :date %>
	</div>

	<%= f.submit %>
<% end %>