<h1><%= @event.title %></h1>

<div>
	<%= @event.description %>
	<div><b>Location:</b>
	<%= @event.location %></div>
	<div><b>Date:</b>
	<%= @event.date.to_date %></div>
</div><br><br>

<%= link_to "Your Events", user_path(@user) %>

<%= render "shared/footer" %>